.jumbotron {
  padding-top: 6rem;
  color: white;
  background-color: #212529;
}
section,
footer {
  padding-top: 6rem;
}
body {
  min-height: 2000px;
}
#projects {
  color: white;
  background-color: #212529;
}
